* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    scroll-behavior: smooth;
}

.banner-opening {
    background-image: url(photos/cover.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 1%;
    justify-content: space-between;
    align-items: center;
}

.nav-banner {
    flex: 1;
    text-align: left;
}

.nav-banner ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-banner ul li a {
    color: white;
    text-decoration: none;
}

.nav-banner ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #2926ca; 
    display: block;
    margin: auto;
    transition: 0.5s
}

.nav-banner ul li:hover::after {
    width: 100%;
}

.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width:90%;
}

@media (max-width: 767px) {
    .main-content {
        width: 90%;
    }

    .main-content h1 {
      font-size: 10px;
    }
  }

.main-content h1{
    font-size: 50px;
    transition: 0.3s;
}

.main-content h1:hover{
    font-size: 68px;
    white-space: nowrap;
}

.main-content p {
    font-size: 30px;
    transition: 0.3s;
}

.main-content p a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}


.main-content p:hover {
    font-size: 33px;
}

#loganpro {
    width: 150px;
    height: auto;
    border-radius: 80%;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    transition: 0.3s;
}

#loganpro:hover {
    width: 170px;
}

.social-links img {
    width: auto;
    height: 30px;
    background-color: transparent;
    padding: 10px;
    transition:0.3s;
}

.social-links img:hover {
    width: auto;
    height: 40px;
    background-color: transparent;
    padding: 10px;
}

.downward-arrow {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.downward-arrow img {
    position: absolute;
    width: 8vh;
    height: auto;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-section {
    display: flex;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    height: auto;
    color: white;
}

.about-text, .project-part {
    flex: 1;
    padding: 3%;
}

.about-text {
    color: white;
    text-align: left;
}

.about-section h1 {
    color: lightblue;
    margin-bottom: 5%;
}

.about-section p {
    size: 30px;
    margin-bottom: 5%;
}

/* .about-text img {
    width: 80px;
    height: auto;
    border-radius: 100%;
} */

.project-part {
}

.project-indiv {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 5%;
    margin-right: 5%;
    border-radius: 1%;
    overflow: hidden;
}

.project-indiv a {
    text-decoration: none;
    color: black;
}

.project-indiv .proj-image,
.project-indiv .proj-content {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.proj-image img {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.proj-content::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    transition-delay: 0.3s;
}

.project-indiv:hover .proj-content::before {
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
}

.project-indiv h4, .project-indiv ul li {
    margin: 5px;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-300px);
    color: white;
}

.proj-content ul li {
    size: 10px;
    list-style: circle;
}

.project-indiv:hover .proj-content h4,
.project-indiv:hover .proj-content ul li {
    transform: translateX(0);
    transition-delay: 0.3s;
}

.resume-section {
    background-color: white;
    background-size: cover;
    position: relative;
    color: black;
    align-items: center;
}

.resume-opening {
    text-align: center;
    padding-top: 50px;   
}

.resume-opening h2,
.resume-header h2 {
    color: rgb(87, 72, 220);
}

.resume-opening p {
    color: grey;
}

.resume-section li {
    font-size: 100%;
    margin-bottom: 5%;
}

.resume-section ul {
    list-style-type: none;
}

/* .block-icon {
    left: 50%;
} */

.block-opening {
    text-align: right;
    width: 45%;
}

.resume-block {
    display: flex;
    padding: 10px;
    margin: 15px;
}

.resume-block div {
    margin-left: 30px;
}

.block-content {
    width: 45%;
}

.block-content h3::after {
    content:'';
    width: 30%;
    height: 3px;
    background: grey; 
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.resume-header {
    text-align: center;
    padding: 40px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 200,
  'opsz' 48;
}

.extralink {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 1%;
}

.newlink {
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 20px;
    width: 200px;
    border: 2px solid black;
    background-color: white;
    transition: 0.3s;
    transform-origin: left;
    display: inline-block;
    border-radius: 8px;
}

.newlink:hover {
    background-color: rgb(162, 162, 162);
}

.skill-indiv {
    display: inline-block;
    text-align: center;
    width:10%;
    padding: 5%;
    overflow: auto;
}

.skill-indiv img {
    border-radius: 0;
    width: 100%;
    align-items: center;
    height: auto;
    padding-bottom: 5px;
}

.block-opening p {
    color: grey;
}

.hidden {
    opacity: 0;
    transition: all 1.2s;
    transform: translateX(-100%);
}

.show {
    opacity: 1;
    transform: translateX(0);
}




